
<style>
    #div_books .bi-cart{
        cursor:pointer;
        color:black;
        font-size: 1.5rem;
    }
</style>
<div class="row my-5">
    <div class="col">
        <!--검색 폼-->
        <div class="row mb-3 justify-content-end">
            <form name="frm" class="col-6 col-md-4 col-lg-3">
                <div class="input-group">
                    <input name="query" class="form-control" value="자바">
                    <button class="btn btn-dark">검색</button>
                </div>
            </form>
        </div>
        <!--도서 검색 결과-->
        <div id="div_books" class="row"></div>
        <!--페이지 이동버튼-->
        <div class="text-center">
            <button id="prev" class="btn btn-dark">이전</button>
            <span id="span_page" class="mx-3">1/10</span>
            <button id="next" class="btn btn-dark">다음</button>
        </div>
    </div>
</div>

<!--템플릿-->
<script type="x-handlebars-template" id="temp_books">
    {{#each documents}}
        <div class="col-6 col-md-4 col-lg-2 mb-3">
            <div class="card">
                <div class="card-body">
                    <img src="{{emptyCheck thumbnail}}" width="90%" style="margin:0 auto; display:block; index='{{@index}}">
                    <div class="ellipsis pt-3" style="font-size:0.8rem">
                        {{title}}
                    </div>
                </div>
                <div class="card-footer" style="font-size:0.8rem">
                    {{format price}}
                    <i class="cart bi bi-cart" book="{{book @this}}""></i>
                </div>
            </div>
        </div>
    {{/each}}
</script>

<script>
    Handlebars.registerHelper("emptyCheck", function(thumbnail){
        return (thumbnail) ? thumbnail : "http://via.placeholder.com/120x170";
    });

    Handlebars.registerHelper("format", function(price){
        return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원';
    })

    Handlebars.registerHelper("book", function(book) {
        return JSON.stringify(book)
    })
</script>

    
    <script type="module">
    import {app} from "/javascripts/ firebase.js";
    import {getDatabase, ref, set, get}
    from "https://www.gstatic.com/firebasejs/10.4.0/firebase-database.js";
    const db=getDatabase(app);

    let query=$(frm.query).val();
    let page = 1;
    getBooks();

    //장바구니 아이콘 클릭
    $("#div_books").on("click", ".cart", async function(){
        if(!sessionStorage.getItem("uid")) {
            location.href="/users/login"

            return;
        }

        //장바구니 중복 확인
        const book=JSON.parse($(this).attr("book"));
        const ref_cart=ref(db, `cart/${sessionStorage.getItem("uid")}/${book.isbn}`);
        const result = await get(ref_cart);
        if(result.val()){
            alert("이미 장바구니에 있습니다");
        }else{
            if(!confirm("장바구니에 추가하실래요?")) return;
            set(ref_cart, book);
            alert("장바구니에 추가되었습니다.")
        }
        set(ref_cart, book);
        // const book=JSON.parse($(this).attr("book"));
        // console.log(book);
        // const ref_cart=ref(db, `cart/${sessionStorage.getItem("uid")}/${book.isbn}`);
        // set(ref_cart), book;
        // alert("장바구니에 추가되었습니다.")
    });
    

    // //장바구니 클릭한 경우
    // $("#div_books").on("click", ".bi", function(){
    //     if(!sessionStorage.getItem("email")){
    //         location.href="/users/login"
    //     } else {
    //         const book = $(this).attr("book")
    //        // alert("장바구니에 담겼습니다!" + book)
    //         console.log(book)
    //     }
    // })

    getBooks();
    $(frm).on("submit", function(e){
        e.preventDefault(); //리로딩 안함
        query=$(frm.query).val();
        page = 1;
        getBooks();
    });

    //다음 버튼
    $("#next").on("click", function(){
        page++;
        getBooks();
    })

    //다음 버튼
    $("#prev").on("click", function(){
        page--;
        getBooks();
    })

    function getBooks(){
        $.ajax({
            type:'GET',
            url:'https://dapi.kakao.com/v3/search/book?target=title',
            headers:{Authorization:"KakaoAK 65b4c0591600fd46e7194fae2ec7f2e6"},
            data:{ query:query, page:page, size:6 },
            dataType:'json',
            success:function(result){
                console.log(result);
                let temp=Handlebars.compile($("#temp_books").html());
                $("#div_books").html(temp(result));
                
                if(page==1) $("#prev").attr("disabled", true);
                else $("#prev").attr("disabled", false);
                
                if(result.meta.is_end) $("#next").attr("disabled", true);
                else $("#next").attr("disabled", false);

                let last = Math.ceil(result.meta.pageable_count/6);
                $("#span_page").html(page + "/" + last);
            }
        });
    }
</script>