<style>
    form span{
        width:100px
    }
</style>

<div class="row my-5 justify-content-center">
    <div class="col-6">
        <h1 class="text-center">로그인</h1>
        <form name="frm" class="card p-3">
            <div class="input-group mb-3">
                <span class="input-group-text">이메일</span>
                <input name="email" class="form-control" value="blue@test.com">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">비밀번호</span>
                <input name="password" class="form-control" type="password" value="12341234">
            </div>
            <button class="btn btn-dark">로그인</button>
        </form>
        <div class="text-end pt-2">
            <a href="/users/join">회원가입</a>
        </div>
    </div>        
</div>

<script type="module">
import {app} from "/javascripts/firebase.js";
import { getAuth, signInWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-auth.js";
    const auth= getAuth(app);

    
    $(frm).on("submit", function(e){
        e.preventDefault();
        //깜빡이 
        //유효성 체크
        const email=$(frm.email).val();
        const password=$(frm.password).val();
        if(email==""){
            alert("이메일을 입력하세요!");
            $(frm.email).focus(); //이메일 커서 포커스 생성
            
            return
        }
        if(password==""){
            alert("비밀번호를 입력하세요!");
            $(frm.password).focus(); //비밀번호 커서 포커스 생성

            return
        }
        //로그인 체크
        //alert(email + password)
        signInWithEmailAndPassword(auth, email, password)
        .then(success=>{
            console.log(success);
            alert("로그인 성공하셨습니다!")
            sessionStorage.setItem("email", email);
            sessionStorage.setItem("uid", success.user.uid);
            
            if(sessionStorage.getItem("target")){
                location.href = sessionStorage.getItem("target")
            
                return
            }
            location.href="/";
        }).catch(error=>{
            console.log(error);
            alert(error.message);
        });        
    });
</script>